<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 pd-minus">
      <span>
        simulação para<br>
        <strong>Presidente</strong>
      </span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 text-right pd-minus">
            <label for="carrocery">Carroceria</label>
            <select name="" id="carrocery" class="form-control input-sm">
              <option value="1">Sedã</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 text-right pd-minus">
          <label for="brand">Marca</label>
          <select name="" id="brand" class="form-control input-sm">
            <option value="1">Mercedes-Benz</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-right pd-minus">
            <label for="model">Modelo</label>
            <select name="" id="model" class="form-control input-sm">
              <option value="1">GLA 200</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-right pd-minus">
          <label for="usageTerm">Prazo de uso</label>
          <select name="" id="usageTerm" class="form-control input-sm">
            <option value="1">24 meses</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-right pd-minus">
          <label for="kilometers">KMs Rodados</label>
          <select name="" id="kilometers" class="form-control input-sm">
            <option value="1">1.0000 Mês</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-right pd-minus">
          <label for="plates">Emplacamento</label>
          <select name="" id="plates" class="form-control input-sm">
            <option value="1">BH</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>